
table {
    border-collapse: collapse;
    height: 100vh;
    width: 100vw;
}

/*
tr:nth-of-type(odd) {
    background-color: black;
}

removed for messing with 1st and 2nd row during early dev
*/


.black {
    height: 100px;
    width: 100px;
    background-color: black;
}

.white {
    height: 100px;
    width: 100px;
    background-color: white;
}

